* {
  margin: 0;
  padding: 0;
}

body {
  width: 768px;
}

header,
footer,
nav,
main,
section,
article,
aside {
  display: block;
}

header {
  width: 768px;
  height: 60px;
  background: #c0c0c0;
}

nav {
  clear: both;
  float: left;
  width: 150px;
  height: 250px;
  background: #8e8e8e;
}

main {
  float: left;
  width: 468px;
  height: 250px;
  background: #f5f5dc;
}

aside {
  float: left;
  width: 150px;
  height: 250px;
  background: #ebebbd;
}

footer {
  clear: both;
  width: 768px;
  height: 60px;
  background: #c0c0c0;
}
